@import './colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 100px;
	scroll-behavior: smooth;
	margin: 0 auto;
	max-width: 1680px;
	font-size: 32.5%;
}

body {
	font-family: 'Work Sans', sans-serif;
}

.text {
	font-size: 2rem;
}

.text-med {
	font-size: 2.6rem;
}

.text-big {
	font-size: 4rem;
}

.btn {
	margin-top: 1.5em;
	padding: 10px 20px;
	width: 100%;
	color: #013a3c;
	background-color: #e2da00;
	font-size: 18px;
	font-weight: bold;
	border-color: #e2da00;
	border-radius: 8px;
	border: none;
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: #fff700;
	}
}

.btn-top {
	align-self: flex-start;
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}


.nav {
	&__mob {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		right: -51%;
		height: 100vh;
		width: 50%;
		background-color: #fff;
		transition: right 0.5s;
		z-index: 2;

		&--active {
			right: 0%;
		}
		&-link {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1em;
			width: 100%;
			font-size: 2.8rem;
			color: #222;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				font-weight: bold;
				color: #fff;
				background-color: #222;
			}
		}
	}

	&__mobile {
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1em;
		height: 65px;
		width: 100%;
		background-color: #fff;


		&--link-box {
			cursor: pointer;
			&:hover > a {
				color: #e2da00;
			}
		}
		&--link-icon {
			color: #333;
			transition: color 0.3s;
		}

		&--left {
			display: flex;
			justify-content: start;
			align-items: center;
			width: 50%;
			&-logo img {
				height: 65px;
			}
		}
		&--right {
			padding-right: 1em;
			display: none;
			justify-content: flex-end;
			align-items: center;
			width: 1%;
			font-size: 3.5rem;
			&-active {
				display: flex;
				width: 50%;
			}
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1400px;
		width: 100%;
	}
	&__desktop {
		position: fixed;
		display: none;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: 100%;
		padding: 1em;
		max-width: 1680px;
		height: 80px;
		background-color: #fff;
		border-bottom: 1px solid #ddd;
		z-index: 1;
		&--bar {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
		&--left {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			min-width: 550px;
		}
		&--right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			min-width: 180px;
		}

		&--link,
		&--link-icon {
			color: #222;
			text-decoration: none;
		}

		&--link {
			padding: 0.75em;
			font-size: 2rem;
			font-weight: bold;
			border-radius: 20px;
			transition: background-color 0.3s;
			&:hover {
				background-color: #eee;
			}
			&-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 80px;
				cursor: pointer;
				&:hover > a {
					color: #00c3ae;
				}
				a {
					font-size: 1.4rem;
					padding: 0.1em 1em 0;
					color: #222;
					text-align: center;
					font-weight: bold;
					transition: color 0.3s;
				}
			}
			&-icon {
				font-size: 1.6rem;
			}
		}

		&--logo {
			img {
				height: 80px;
			}
		}
	}

	&__search-bar {
		display: none;
		justify-content: center;
		align-items: center;
		margin: 0 10px;
		padding: 7px 15px;
		width: 50%;
		max-width: 550px;
		background-color: #ebebeb;
		font-size: 2rem;
		border: 1px solid #ebebeb;
		border-radius: 50px;
		transition: 0.4s;
		&-mobile-active {
			display: flex;
			width: 50%;
		}
		&:hover {
			border-color: #777;
		}

		input {
			padding: 7px 10px;
			width: 100%;
			font-size: 2rem;
			color: #222;
			border: none;
			outline: none;
			background-color: #ebebeb;
		}
		.fa-magnifying-glass {
			color: #222;
		}
		.fa-microphone {
			color: #777;
			cursor: pointer;
			&:hover {
				color: #222;
			}
		}
	}

	&__box {
		height: 0;
	}

	::placeholder {
		color: #777;
	}
}

.header {
	&__section {
		background-color: #222;
	}
	&__img-box {
		background-image: url('../assets/img/welding640c.jpg');
		background-size: cover;
		background-position: center;
		height: 40em;
		width: 100%;
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3em 3em 6em;
		background-color: #222;
		color: #ededed;
		text-align: center;

		&--h1 {
			// padding: 0 1em;
			font-size: 6.8rem;
		}
		&--h2 {
			// padding: 0 1em;
			font-size: 4.2rem;
		}
		&--p {
			padding: 1em 0;
			font-size: 2.2rem;
		}
	}
}

.carts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__section {
		padding: 3em 3em 6em;
	}

	&__title {
		margin: 0.75em 0;
		font-size: 4.4rem;
	}

	&__cart {
		margin: 10px;
		height: 100%;
		width: 100%;
		box-shadow: 1px 1px 3px 3px rgba(197, 197, 197, 0.27);
		border-radius: 20px;
		transition: scale 0.3s;
		overflow: hidden;
		cursor: pointer;

		&:hover {
			scale: 0.95;
		}

		&--img {
			width: 100%;
			max-height: 240px;
			// object-fit: cover;
		}

		&--text {
			padding: 0 3em 3em 3em;
			color: #222;
			h4 {
				padding-top: 0.6em;
				font-size: 4rem;
			}
			p {
				font-size: 2.8rem;
			}
			ul {
				padding: 2.5em;
			}
			li {
				font-size: 2.2rem;
				line-height: 2em;
			}
		}
	}
}

.explore {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	&__section {
		background-color: #ededed;
	}

	&__img {
		width: 100%;
	}
	&__text-box {
		padding: 3em 3em 6em;
		width: 100%;
		color: #222;
		&--h2 {
			margin-bottom: 0.6em;
			font-size: 4.4rem;
		}
		p {
			font-size: 2rem;
			line-height: 1.5em;
		}
	}
}

.electric {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	&__section {
		background-color: #222;
	}

	&__img {
		width: 100%;
	}
	&__text-box {
		padding: 3em 3em 6em;
		width: 100%;
		color: #fff;
		&--h2 {
			margin-bottom: 0.6em;
			font-size: 4.4rem;
		}
		p {
			color: #d6d6d6;
			font-size: 2rem;
			line-height: 1.5em;
		}

		&--bottom {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding-top: 1em;

			h2 {
				font-size: 4.4rem;
				padding-bottom: 0.3em;
			}

			&-one,
			&-two {
				width: 49%;
			}
		}
	}
}

// REVIEWS

@media (max-width: 767px) {
	.reviews.section-padding {
		padding: 4em 0;
	}
}

.carts__title {
	padding-left: 1em;
}

.reviews {
	&__box {
		position: relative;
		margin: 3em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px #2e2e2e2e;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}
	}

	&__box-img {
		position: absolute;
		top: 8%;
		left: 75%;
		transform: translate(-50%, -50%);

		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__box-quote {
		margin-bottom: 1em;
		font-size: 3rem;
		color: #e2da00;
	}

	&__box-text {
		margin-bottom: 1em;
		font-size: 1.4rem;
		color: #333;
	}
}

// FOOTER 
.footer {
	color: $pure-white;
	background-color: $dark;

	.wrapper {
		padding: 6em 2em 2em;
	}

	&__name {
		margin-top: 1em;
		font-size: 4rem;
		// color: #e2da00;
	}

	&__box {
		font-size: 1.4rem;
	}

	&__box-desktop {
		display: none;
	}

	&__box-title {
		text-align: center;
		margin-bottom: 1em;
		font-size: 4.4rem;
		// text-transform: uppercase;
	}

	&__box-social {
		display: flex;
		justify-content: center;
		margin: 2em 0 1em;
	}

	&__box-link {
		padding: 0 0.3em;
		font-size: 3.6rem;
		color: #fff;
		text-decoration: none;
		transition: color 0.3s;

		&:first-child {
			padding-left: 0;
		}

		&:hover {
			color: #e2da00;
		}
	}

	&__bottom-text {
		margin: 0;
		padding: 1em;
		text-align: center;
		font-size: 1.6rem;
	}
}

// footer {
// 	background-color: #ddd;
// }

// .footer__bottom-text {
// 	padding: 1em;
// 	background-color: #ddd;
// 	text-align: center;
// 	font-size: 1.6rem;
// }

@media (min-width: 360px) {
	html {
		font-size: 40%;
	}
}

@media (min-width: 576px) {
	.header {
		&__img-box {
			height: 38em;
		}
	}
	.btn {
		width: 175px;
	}

	.nav {
		&__search-bar {
			display: flex;
		}
		&__mobile {
			&--left {
				width: 25%;
			}
			&--right {
				width: 25%;
			}
			&--magnifying-glass {
				display: none;
			}
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		padding: 0 25px;
		margin: 0 auto;
		width: 100%;
		max-width: 1400px;
	}

	.nav {
		&__mobile--right {
			width: 20%;
		}
	}

	.header {
		&__section {
			background: none;
		}
		&__text-box {
			position: relative;
			background-image: url('../assets/img/welding1920c.jpg');
			height: 40em;
			background-size: cover;
			background-position: center;
			width: 100%;
		}
		&__img-box {
			background-image: none;
			height: 0;
		}

		&__text {
			position: absolute;
			padding: 0;
			height: 100%;
			width: 40%;
			background: none;
			text-align: left;

			&--h1 {
				padding: 0;
			}
			&--p {
				padding: 1em 0;
			}
			&--btn {
				margin-top: 0;
				align-self: start;
			}
		}
	}

	.carts {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 7em;

		&__section {
			padding: 0;
		}

		&__title {
			margin: 1em 0 0.5em;
		}

		&__cart {
			height: 640px;
		}
	}
	.explore {
		flex-direction: row-reverse;
		justify-content: space-around;
		padding: 7.8em 0;

		&__img {
			width: 50%;
			border-radius: 10px;
		}
		&__text-box {
			margin-right: 6em;
			padding: 0;
			width: 50%;
		}
	}
	.electric {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 7.8em 0;

		&__img {
			width: 50%;
			border-radius: 10px;
		}
		&__text-box {
			padding: 0;
			margin-left: 3em;
			width: 50%;
			font-size: 3rem;
		}
	}
}

@media (min-width: 992px) {
	html {
		font-size: 47%;
	}
	nav {
		height: 82px;
	}
	.nav {
		&__mobile {
			display: none;
		}
		&__desktop {
			display: flex;
		}
		&__box {
			height: 80px;
		}
	}

	.header {
		&__text-box {
			height: 45em;
		}
		&__text {
			height: 45em;
			width: 33%;
		}
	}

	.carts {
		&__cart {
			height: 575px;
			&--text {
				h4 {
					font-size: 3.5rem;
				}
				p {
					font-size: 2.4rem;
				}
				li {
					font-size: 1.8rem;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 52.5%;
	}
	.header {
		&__text-box {
			height: 45em;
		}
		&__text {
			width: 30%;
		}
	}
	.carts {
		&__cart {
			height: 460px;
			&--text {
				h4 {
					font-size: 3.2rem;
				}
				p {
					font-size: 2.2rem;
				}
				li {
					font-size: 1.6rem;
				}
			}
		}
	}
}

@media (min-width: 1500px) {
	html {
		font-size: 60%;
	}
	.wrapper {
		padding: 0;
	}
	.header {
		&__text-box {
			height: 50em;
		}
		&__text {
			width: 25%;
		}
	}
	.carts {
		&__title {
			font-size: 4.4rem;
		}

		&__cart {
			&--text {
				h4 {
					font-size: 2.7rem;
				}
				p {
					font-size: 1.9rem;
				}
				li {
					font-size: 1.7rem;
				}
			}
		}
	}
}
